@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", "sans-sarif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --primary-text-bark: #3e8fff;
  --primary-text-light: #1c2a4b;
  --primary-blue4: #539bff;
  --primary-blue3: #b6ccfe;
  --primary-blue2: #d7e3fc;
  --primary-blue1: #edf2fb;
  --custom: #000000;
  --trans-02: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-04: all 0.5s ease;
}

body { 
  background-color: var(--primary-blue1);
  color: var(--black);
}

#root{
  background-color: var(--primary-blue1);
  height: 100vh;
  width: 100%;
}

body.dark {
  --white: #000;
  --black: #fff;
  --primary-text-dark: #ffffff;
  --primary-text-light: #3e8fff;
  --primary-blue4: #1c2a4b;
  --primary-blue3: #425a86;
  --primary-blue2: #2e405f;
  --primary-blue1: #192030;
  --custom: #98c3ff;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
